.about {
  ul.team-profiles {
    margin: 0;
    li {
      .member-profile-image {
        box-sizing: border-box;
        img {
          height: 20em;
        }
      }
      .member-profile-text {
        position: relative;
        box-sizing: border-box;
      }
    }
    @media(min-width: $large) {
      li {
        .member-profile-image {
          height: 9em;
          float: left;
          img {
            height: 100%;
          }
          margin-right: 1em;
        }
        .member-profile-text {
          height: 9em;
          float: left;
          text-align: left;
        }
      }
    }
  }
}